services:
  
  # Langara Coursys Backend
  langara-watcher-backend:
    container_name: langara-watcher-backend
    ports:
      - '8000:8000'
    image: "ghcr.io/highfire1/langara-coursys-backend-fetch:latest"
    # restart: unless-stopped
    networks:
      - backend
    volumes:
      - ./data/langara-api:/database

  # Langara Coursys API
  langara-watcher-api:
    container_name: langara-watcher-api
    ports:
      - '5010:8000'
    image: "ghcr.io/highfire1/langara-coursys-backend-serve:latest"
    # restart: unless-stopped
    networks:
      - backend
    volumes:
      - "./data/langara-api:/database"

  # langara-coursys-rewrite:
  #   container_name: rewrite
  #   ports:
  #     - '5050:3000'
  #   image: "ghcr.io/highfire1/langara-coursys-backend-rewrite:latest"
  #   networks:
  #     - backend
  #   volumes:
  #     - ./data/langara-coursys-rewrite:/usr/src/app/data



  # === SYSADMIN TOOLS === #

  # NGINX manager
  nginx-proxy-manager:
    container_name: nginx-proxy-manager
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - nginxpm_data:/data
      - nginxpm_letsencrypt:/etc/letsencrypt
    networks:
      - backend

  # Portainer, docker container manager
  portainer:
    container_name: portainer
    image: portainer/portainer-ee:latest
    ports:
      - 9443:9443
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    # restart: unless-stopped


networks:
  backend:
    driver: bridge


volumes:
  postgres_db:

  course_watcher_db:

  portainer_data:

  nginxpm_data:
  nginxpm_letsencrypt:
